/**********************************************
* Custom CSS for RSI Balloons Hackathon
* @author devon@devonbeetsdesign.com
/*********************************************/

/**********************************************
* Global Styles
/*********************************************/

body {
	background-image: url("../images/AlbuquerqueBackgroundJPEG.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #000;
	font-family: 'Denk One', sans-serif;
}

/**********************************************
* Header and Navbar Styles
/*********************************************/
/* removes the margin-bottom that Bootstrap sets by default */
.navbar {
	margin-bottom: 0;
}

/* override Bootstrap default .navbar-inverse styles */
.navbar-inverse {
	background-image: none;
	background-color: #4c8bff;
	color: white;
}