/**********************************************
* Custom CSS for RSI Balloons Hackathon
* @author devon@devonbeetsdesign.com
/*********************************************/

/**********************************************
* Global Styles
/*********************************************/

body {
	background: url("../images/AlbuquerqueBackgroundJPEG.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Denk One', sans-serif;
}

/**********************************************
* Header and Navbar Styles
/*********************************************/

/* override Bootstrap default .navbar-inverse styles */
.navbar-inverse {
	background: none;
	background-color: #4c8bff;
	color: white;
	margin-bottom: 15px;
}

.navbar-inverse .navbar-brand {
	color: #f6f861;
}

/**********************************************
* Body Styles
/*********************************************/

